<div class="arrow-container">
  <button class="arrow" id="left" (click)="onKeyClickHandler(keys.ARROW_LEFT)">
    <img src="/assets/arrow.svg" alt="" />
  </button>
  <button class="arrow" id="up" (click)="onKeyClickHandler(keys.ARROW_UP)">
    <img src="/assets/arrow.svg" alt=""/>
  </button>
  <div class="arrow" id="center"></div>
  <button class="arrow" id="right" (click)="onKeyClickHandler(keys.ARROW_RIGHT)">
    <img src="/assets/arrow.svg" alt=""/>
  </button>
  <button class="arrow" id="down" (click)="onKeyClickHandler(keys.ARROW_DOWN)">
    <img src="/assets/arrow.svg" alt=""/>
  </button>
</div>
<div class="general-container">
  <app-button [bgColor]="'#EFBB58'" (click)="onKeyClickHandler(keys.HOME)">
    <img height="38px" width="34px" src="/assets/home.svg" alt=""/>
  </app-button>

  <app-button [bgColor]="'#363636'" (click)="onKeyClickHandler(keys.ON_OFF)">
    <img height="38px" width="34px" src="/assets/on_off.svg" alt=""/>
  </app-button>
</div>
<div class="validation-container">
  <app-button [isRound]="true" (click)="onKeyClickHandler(keys.OK)">
    OK
  </app-button>

  <app-button [isRound]="true" (click)="onKeyClickHandler(keys.RETURN)">
    <img height="38px" width="34px" src="/assets/back_arrow.svg" alt="" />
  </app-button>
</div>
