<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="calcul">
      <th mat-header-cell *matHeaderCellDef> Calcul </th>
      <td mat-cell *matCellDef="let element"> {{element.calcul}} </td>
    </ng-container>

    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let element" >
        @if(element.status == "DONE"){
          {{element.result}}
        }
        @else{
          <button mat-icon-button (click)="element.status === 'PENDING' && requestResult(element.UUID)"><mat-icon>near_me</mat-icon></button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" >
        @if(element.status == "DONE"){
          <mat-icon class="done">check_circle</mat-icon>
        }
        @else{
          <mat-icon class="pending">hourglass_empty</mat-icon>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Copy" (click)="openSnackBar(element.UUID)"><mat-icon>content_copy</mat-icon></button>
        <button mat-icon-button class="delete" (click)="deleteRequest(element)" ><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row empty-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No data matching the filter.
      </td>
    </tr>
</table>
